/* body {
    font-family: Arial, sans-serif;
    /* display: flex; */
/*     
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    position: fixed;
    
  }
  
  .container {
    text-align: center;
    position: fixed;
  }
  
  h1 {
    color: #333;
    margin-top: 5%;
    position: fixed;
    
    
  }
  

  .contact-info {
    position: fixed;
    margin-left: -2.5%;
    margin-top: 8%;
    font-weight: bold;
    color: #007bff; 
  }
    */

    body {
        font-family: Arial, sans-serif;
        /* display: grid; */
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background: #a8c0ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
      
      .container {
        text-align: center;
      }
      
      h1 {
        color: #333;
      }
      
      .contact-info {
        font-weight: bold;
        color: #007bff; /* Change the color to your preference */
      }
      .details{
        margin-top: 100px;
        position: fixed;
        margin-left: 400px;
      }
      

   